.navbar {
  background-color: #fff;
  .navbar-toggler {
    border: none !important;
    color: #6e6767;

    &:focus {
      box-shadow: none !important;
    }

    &:hover {
      color: $black;
    }
  }

  .navbar-brand {
    font-family: $text-branch;
    color: $black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar__submenu {
    a {
      font-size: 0.8rem;
      text-decoration: none;
      color: $black;
    }
  }
}

.btn-close:focus {
  box-shadow: none !important;
}
