// Fonts
$text-content: "Roboto", sans-serif;
$text-titles: "Roboto", sans-serif;
$text-branch: "Lobster", cursive;

// Base Pallette Color
$black: #333333;
$blue-dark: #054a91;
$blue-mid: #3e7cb1;
$blue-light: #81a4cd;
$blue-white: #dbe4ee;

// Categorie's colors
$yellow: #fffd25;
$orange: #f79402;
$red: #e0241d;
$blue: #0b79ee;
$lila: #fa04ed;
$cyan: #1de9f5;
$green: #2ff000;
